@charset "UTF-8";
/*couleurs etc */
/*Police régle général etc */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'roboto';
}

.nom_logo, .nom_restaurant {
  font-family: 'Shrikhand';
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_degrade {
  border-radius: 25px;
  border: 0px solid;
  height: 45px;
  -webkit-box-shadow: 0px 5px 20px #bebebe;
          box-shadow: 0px 5px 20px #bebebe;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.button_degrade span {
  text-align: center;
  color: white;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: black;
}

header i {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 25px;
}

/* formulaire */
footer {
  background-color: #353535;
  padding-bottom: 25px;
  margin-top: -67px;
}

.nom_logo {
  color: white;
  font-size: 20px;
  padding: 30px;
}

ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 25px;
}

li {
  color: white;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
}

i {
  margin-right: 30px;
  size: 15px;
  width: 5px;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 47px;
  background-color: #eaeaea;
  font-size: 20px;
  padding-left: 45px;
}

.localisation input {
  height: 47px;
  border: none;
  background-color: #eaeaea;
  padding-left: 20px;
}

.localisation value {
  font-size: 40px;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f7f6f6;
  padding: 20px 55px 50px 55px;
}

.presentation h1 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
}

.presentation p {
  font-size: 16px;
  font-weight: 300;
}

.presentation span {
  padding-left: 15px;
  padding-right: 15px;
}

.fonctionnement {
  font-size: 24px;
  font-weight: 600;
  margin-top: 52px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.fonctionnement_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-right: 17px;
  margin-left: 30px;
  height: 70px;
  background-color: #f7f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px gainsboro;
          box-shadow: 0px 5px 20px gainsboro;
}

.fonctionnement_card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 21px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  padding-left: 0px;
  border-radius: 20px;
  color: white;
  font-weight: 300;
  font-size: 16px;
}

.fonctionnement_card i {
  font-size: 20px;
  padding-left: 31px;
  margin-right: 43px;
}

.cards_menu {
  width: 100%;
  padding-bottom: 60px;
  margin-top: 65px;
  margin-bottom: 60px;
  background-color: #f7f6f6;
}

.cards_menu h1 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 55px;
  margin-left: 20px;
  margin-bottom: 28px;
}

.cards_menu .card_menu {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 20px gainsboro;
          box-shadow: 0px 5px 20px gainsboro;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 991px) {
  .cards_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards_menu a {
  text-decoration: none;
}

.cards_menu img {
  width: 100%;
  height: 179px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards_menu h2 {
  color: black;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 15px;
}

.cards_menu h3 {
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin-left: 15px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card_menu img {
    height: 350PX;
  }
}

@media screen and (min-width: 991px) {
  .card_menu img {
    height: 550PX;
  }
}

body {
  margin: 0px;
}

.image_menu img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .image_menu img {
    height: 500px;
  }
}

@media screen and (min-width: 991px) {
  .image_menu img {
    height: 700px;
  }
}

.liste_menu {
  background-color: #f7f6f6;
  border-radius: 53px 53px 0% 0%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  position: relative;
  top: -55px;
  bottom: 67px;
}

.liste_menu .nom_restaurant {
  padding-top: 40px;
  padding-bottom: 0px;
  margin-top: 0px;
  font-size: 29px;
  font-weight: 300;
}

.liste_menu .titre_cards {
  width: 40px;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 3px;
  margin-bottom: 20px;
  margin-top: 35px;
  font-size: 16px;
}

.liste_menu .card {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  height: 68px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 10px;
  -webkit-box-shadow: 0px 5px 20px gainsboro;
          box-shadow: 0px 5px 20px gainsboro;
}

.liste_menu div {
  padding-top: 6px;
  font-size: 18px;
}

.liste_menu .description {
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.liste_menu span {
  font-weight: 600;
}

.liste_menu button {
  width: 175px;
  height: 50px;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */