footer
{
    background-color: rgb(53, 53, 53);
    padding-bottom: 45px;
    margin-top: -54px;}
    .name-logo{
        color: white;
        font-size: 19px;
        padding: 22px;
        font-family: 'Shrikhand';}
        ul{
            list-style: none;
            margin-top: 0px;
            padding-left: 20px;}
            li{
                color:white;
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 5px;}
                a{
                    text-decoration: none;
                    color: white;}
                    i{
                        margin-right: 23px;
                        font-size: 13px;
                        width: 3px;
                    }