footer
{
    background-color: rgb(53, 53, 53);
    padding-bottom: 25px;
    margin-top: -68px;}
    .nom_logo{
        color: white;
        font-size: 20px;
        padding: 30px;}
        ul{
            list-style: none;
            margin-top: 0px;
            padding-left: 25px;}
            li{
                color:white;
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 5px;}
                a{
                    text-decoration: none;
                    color: white;}
                    i{
                        margin-right: 30px;
                        size: 15px;
                        width: 5px;
                    }