.button{
    display: flex;
    justify-content: center;
}
.button_degrade{
    border-radius: 25px;
    border: 0px solid ;
    height: 50px;
    box-shadow: 0px 5px 20px rgb(190, 190, 190);
    margin-top: 10px;
    background: linear-gradient($color-secondary, $color-primary);
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer;
    transition: all 1s;
    &:hover{
        box-shadow: 0px 5px 20px darken($color: rgb(190, 190, 190), $amount: 50);
        background: linear-gradient(lighten($color-secondary,4), lighten($color-primary,4));
       
    }
}


